<h1> Minions a mansalva</h1>
<br>

@if (error) {
    <div class="col">
    
        <div class="card h-100" style="width: 18rem;">
            <img src="/assets/img/errorMinion.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">No se han podido recuperar los minions</p>
            </div>
        </div>
    </div>
}
@else {

    @if( {minions: minions$|async, error: minionError$|async}  ; as data){
        @if (!data.error && data.minions) {

            <div class="row row-cols-1 row-cols-md-3 g-4">
            
                @for (minion of data.minions; track minion.id) {
                    <div class="col">
            
                        <div class="card h-100" style="width: 18rem;">
                            <img [src]="'/'+minion.img" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{minion.name}}</h5>
                                <p class="card-text">{{minion.bio}}</p>
                                <a (click)="goToDetails(minion.id)" class="btn btn-primary">Go somewhere</a>
                                <button class="btn btn-danger" (click)="delete(minion.id)">Delete</button>
                            </div>
                        </div>
                    </div>
                }
            </div>

        }
        @else if(data.error){
            <h1> Upps! Se ha producido el siguiente error</h1>
            <p> {{data.error.message}} </p>
        }
        

    }
    

}

<router-outlet></router-outlet>
