<div *ngIf="exito" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Minion añadido con éxito</strong>
    <button (click)="close()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<h1 *ngIf="!edit ; else editTemplate">Add minion</h1>
<ng-template #editTemplate>
    <h1>Edit minion</h1>
</ng-template>
<form (ngSubmit)="submit()">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" id="name" [(ngModel)]="minion.name">

    </div>
    <div class="mb-3">
        <label for="bio" class="form-label">Bio</label>
        <textarea name="bio" id="" cols="30" rows="10" [(ngModel)]="minion.bio"></textarea>
    </div>
    <label>Side:</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="side" id="side1" value="de los buenos"
            [(ngModel)]="minion.side">
        <label class="form-check-label" for="side1">
            De los buenos
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="side" id="side2" value="malvados" [(ngModel)]="minion.side">
        <label class="form-check-label" for="side2">
            Malvados
        </label>
    </div>

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="date" class="form-control" id="name" name="birth" [(ngModel)]="minion.birth">

    </div>

    
    @if (edit) {
        <button type="submit" class="btn btn-primary">Edit</button>

    }
    @else {
        <button type="submit" class="btn btn-primary">Submit</button>

    }
</form>

<div>
    <p>Name: {{minion.name}}</p>
    <p>Bio: {{minion.bio}}</p>
    <p>Side: {{minion.side}}</p>
</div>